<form id="new-post" class="m-1 p-1 border rounded d-none">
  <h2 class="rounded-top bg-dark text-white card-header m-1 p-1" id="new-header">Create New Post</h2>
  <div class="form-group m-1 p-1">
    <label for="new-title">Title</label>
    <input type="text" class="form-control" id="new-title" placeholder="Enter Title">
  </div>
  <div class="form-group m-1 p-1">
    <label for="new-content">Content</label>
      <input type="text" class="form-control" id="new-content" placeholder="Enter your text">
  </div>
  <div class="d-grid gap-1 my-1 mx-2">
    <button type="submit" class="btn btn-secondary" id="submit-post">Create</button>
  </div>
</form>

<div id="posts">
  {{#each user.posts as |post|}}
  <div class="card border-secondary m-1">
    <div class="bg-dark text-white card-header d-flex justify-content-between">
      <a class="card-title text-decoration-none fw-bold mt-3" href="/dashboard/{{post.id}}">{{post.title}}</a>
      <p class="text-end mt-3">{{format_date post.createdAt}}</p>
    </div>
  </div>
  {{/each}}
</div>
<button class="btn btn-dark m-2" id="show-create" data-shown="false">+ New Post</button>

<script src="/js/dashboard.js"></script>