<form id="new-post" class="d-none">
  <h1 id="new-header"> <strong>Create New Post</strong> </h1>
  <div class="form-group">
    <label for="new-title">Title</label>
    <input type="text" class="form-control" id="new-title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="post-content">Content</label>
      <input type="password" class="form-control" id="new-content" placeholder="Enter your text">
  </div>
  <button type="submit" class="btn btn-primary" id="submit-post">Create</button>
</form>

<div id="posts">
  {{#each user.posts as |post|}}
  <div class="card">
    <div class="card-header">
      <a class="card-title" href="/posts/{{post.id}}">{{post.title}}</a>
      <p class="date">{{format_date post.createdAt}}</p>
    </div>
    <div class="card-body">
      <p>{{post.text}}</p>
    </div>
  </div>
  {{/each}}
</div>
<button class="btn btn-primary" id="show-create" data-shown="false">+ New Post</button>
<script src="/js/dashboard.js"></script>