<form id="update-form" class="m-1 p-1 border rounded" data-postID="{{post.id}}">
  <h2 class="rounded-top bg-dark text-white card-header m-1 p-1" id="form-header"> Edit Post </h2>
  <div class="form-group m-1 p-1">
    <label for="post-title">Title</label>
    <input type="text" class="form-control" id="post-title" placeholder="Enter Title" value="{{post.title}}">
  </div>
  <div class="form-group m-1 p-1">
    <label for="post-content">Content</label>
      <input type="text" class="form-control" rows=3 id="post-content" placeholder="Enter your text" value="{{post.text}}">
  </div>
  <div class="d-grid gap-2 my-1 mx-2">
  <button type="submit" class="btn btn-secondary" id="submit-post">Update Post</button>
  <button class="btn btn-secondary" id="delete-post">Delete</button>
  </div>
</form>

<script src="/js/editor.js"></script>